
body{
    margin:0px;
    margin-top:auto;
    background-color: purple;

}

.container{
    
    
}

img{
    display:block;
    margin-left: auto;
    margin-right:auto;
    

}https://github.com/DigitalCraftsStudents/web-ft-07-2022.git